html,
body {
    padding: 0;
    margin: 0;
    /* font-family: "Inter", sans-serif!important; */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}


@font-face {
  font-family: 'Playfair Display';
  src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/fonts/PlayfairDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  
}

@font-face {
  font-family: 'Playfair Display';
  src: url("/fonts/PlayfairDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;

}